Binaries
DerivedDataCache
Intermediate
Saved
Content/_DownloadedAssets/FourEvilDragonsHP
Content/_DownloadedAssets/GreenwoodFantasyVillage
Content/_DownloadedAssets/ROG_Modular_Armor
Content/_DownloadedAssets/GKnight
Content/_DownloadedAssets/ParagonMinions
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace